@page
@model WebApp.Pages.Admin.Client_Courses.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Scanner-Course Relations</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scanner_Courses[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scanner_Courses[0].ScannerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scanner_Courses[0].CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scanner_Courses[0].isActive)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Scanner_Courses)
        {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.ScannerId)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                 <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                 <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                 <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>To <a asp-page="/Admin/AdminInterface">Welcome page</a>.</p>
