@page
@model WebApp.Pages.Admin.Client_Courses.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Client-Course Relations</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client_Courses[0].ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Courses[0].CourseId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Client_Courses)
        {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                 <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>To <a asp-page="/Admin/AdminInterface">Welcome page</a>.</p>
