@page
@model WebApp.Pages.Admin.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Clients</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<label asp-for=errormsg></label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Institution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Client) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClientId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>To <a href="https://localhost:7054/Admin/AdminInterface">Admin page</a>.</p>
