@page
@model WebApp.Pages.Client.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutClient";
}

<h1>Courses</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.CourseId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<p>To <a asp-page="/Client/ClientInterface">Welcome page</a>.</p>
