@page
@model AttendanceAPI.Pages.Client.Attendance.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutClient";
}

<h1>Attendance</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayEntries[0].ClientId)
            </th> 
            <th> 
                @Html.DisplayNameFor(model => model.DisplayEntries[0].CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayEntries[0].ScanTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DisplayEntries)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScanTime)
            </td>
        </tr>
}
    </tbody>
</table>
<p>To <a asp-page="/Client/ClientInterface">Welcome page</a>.</p>
